---
---
<link rel="stylesheet" type="text/css" href="{{site.baseurl }}/assets/css/main.css">
<div class="contact-form">
    <form >
        <h1>Contact Me</h1>
        <label for="name">First Name:</label><br>
        <input type="text" id="name" name="name" value="" placeholder="Enter Your Name" required>
        <small class="error"></small><br>

        <label for="lname">Last Name:</label><br>
        <input type="text" id="name" name="name" value="" placeholder="Enter Your Name" required>
        <small class="error"></small><br>

        <label for="email">Enter your email:</label><br>
        <input type="email" id="email" name="email" value="" placeholder="Enter Your Email" required>
        <small class="error"></small><br>

        <label for="message">Message</label><br>
        <textarea id="message" placeholder="Your message" rows="6"></textarea><br>
        <input type="button" value="Submit" onclick = "validateForm();" >
        <p id="success"></p>
    </form>
</div>



